.grid-container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100vh;
    .grid-item {
        border-radius: 15px;
    }
    .left-sidebar {
        padding: 15px;
        border: 1px solid #FEB5F5;
        .requiredXYs {
            list-style-type: none;
            padding: 3px;
            border: 3px solid #FEB5F5;
            border-width: 3px 3px 0px 3px;
        }
        ul {
          padding: 0;
        }
        ul li.requiredXYs:last-child  {
            border-bottom-width: 3px;
        }
        // background-color: #FEB5F5;
    }
    .main-content {
        border: 1px solid #76daff;
        padding: 15px;
        // background-color: #76daff;
    }
    .my-svg{ /* svg into : object, img or inline */
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
    }
    svg text {
      opacity: 1 !important;
    }
    .my-svg-container {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-bottom: 300px; /* aspect ratio */
      vertical-align: top;
      overflow: hidden;
    }
    .front-board {
      width: 300px;
      height: 253px;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      z-index: 999;
      opacity: 0.8;
      top: 30px;
      left: 50px;
    }
    .rightCell {
      background-color: green;
    }
    .wrongCell {
      background-color: red;
    }
    .enabled-button {
      background-color: green;
    }
    .disabled-button {
      background-color: red;
    }
}
